{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
